// Edit Scroll-bar
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $section-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 0px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: $section-color;
    color: #000000;
    font-size: 14px;
    min-width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}
// All Rest
* {
    @include all-reset;
}
*:not(input, select) {
    text-transform: capitalize !important;
}
// a Reset
a {
    @include a-reset;
}
// reset btn
button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}
// reset form-control
.form-control {
    font-size: 14px !important;
    border: 1px solid $light-grey-color !important;
}
// main-section
.main-section {
    padding: 1.5rem 0;
    min-height: calc(100vh - 41.88px - 54.5px - 69px);
}
// Modal
.modal-header {
    .modal-title {
        font-size: 15px !important;
    }
    .btn-close {
        margin: unset !important;
    }
}


