// main-heading
.main-heading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

// Small HEading
.small-heading {
  font-size: 15px;
  color: $text-greey;
  margin-bottom: 5px;
  font-weight: bold;
}

.small-label {
  color: $text-greey;
  font-size: 12px;
  margin-bottom: 2px;
}

.alt2-bg-color {
    font-size: 14px !important;
    background-color: #68b1ad ;
    &.xl {
        font-size: 18px !important;
    }
}
