.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.row-gap-24 {
    row-gap: 24px;
}

.w-fit {
    width: fit-content;
}

.drop-fs {
    font-size: 12px;
}
.fs-12 {
    font-size: 12px;
}
.fs-11 {
    font-size: 11px;
}
